.lead {
	text-align: center;
	margin-bottom: 55px;
}
.lead__title {
	display: inline-block;
    width: 450px;
	font-size: 21px;
	font-weight: bold;
}
.lead__subtitle {
	color: #333333;
}
.about {
	display: flex;
}

.about-1 {
	width: 25%;
	padding: 40px 35px;
	background: #81b3d2;
	color: #ffffff;
	text-align: center;
}
.about__name {
	font-size: 21px;
	margin-bottom: 27px;
}
.about__number {
	display: block;
	margin-bottom: 27px;
	position: relative;
	display: inline-block;
	margin: 0 5px;
}
.about__number::before {
	content: '';
    display: block;
    position: absolute;
    right: 125%;
    top: 50%;
    width: 13px;
    height: 2px;
	background: #fff;
}
.about__number::after {
	content: '';
    display: block;
    position: absolute;
    left: 125%;
    top: 50%;
    width: 13px;
    height: 2px;
	background: #fff;
}
.about__desc {
	font-size: 14px;
}
.about-pic {
	width: 75%;
	height: 304;
}
.features {
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.features__item {
	width: 30%;
	padding: 55px 35px 90px 35px;
}
.features__title {
	font-size: 21px;
	font-weight: bold;
	color: #000;
	margin-bottom: 30px;
}
.features__desc {
	color: #333;
}
.features__icon {
	width: 75px;
	height: 72px;
	margin-bottom: 35px;
}
.attraction {
	display: flex;
	justify-content: space-between;
	background: #eee;
}
.attraction__item {
	width: 35%;
	padding: 38px 60px 63px;
	text-align: center;
	font-weight: 500;
}
.attraction__name {
	font-size: 21px;
	font-weight: bold;
	color: #000;
	margin-bottom: 30px;
}
.attraction__number {
	position: relative;
	display: inline-block;
	margin: 0 5px;
}
.attraction__number::before {
	content: '';
    display: block;
    position: absolute;
    right: 125%;
    top: 50%;
    width: 13px;
    height: 2px;
	background: #333;
}
.attraction__number::after {
	content: '';
    display: block;
    position: absolute;
    left: 125%;
    top: 50%;
    width: 13px;
    height: 2px;
	background: #333;
}
.attraction__desc {
	color: #333;
}
.booking {
	text-align: center;
    padding: 50px 0 0 0;
    position: relative;
    min-height: 291px;
}
.booking__title {
	margin-bottom: 35px;
	font-size: 30px;
	font-weight: bold;
	color: #000;
}
.booking__desc {
	width: 490px;
	margin: 0 auto;
	margin-bottom: 52px;
}
.booking__button {
	// width: 458px;
	width: 570px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: #766357;
    // background-color: #81b3d2;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 0;
    margin-bottom: 1px;
    // margin-bottom: 65px;
    text-align: center;
}
